<div id="divShowerComponentData" style="display: none;">
	<div class="ui-widget ui-widget-content ui-corner-all" 
	     style="width: 650px; margin-top: -17px;">
		<div class="ui-widget-header ui-corner-top" 
			 style="text-align: center; height: 30px; padding: 5px;" innerHTML="{{ body.title }}"></div>
		<div style="height: 500px; padding: 15px 10px 10px 15px; 
		            word-wrap: break-word; overflow-x: hidden; overflow-y: auto;" 
		     innerHTML="{{ body.content }}"></div>
	</div>
</div>
<div id="divLoaderComponentData" (click)="loadComponent();" style="display: none;"></div>